* {
  font-size: 15px;
  font-weight: bold;
  /* FiraMono is my font of choice, the Propo version is required to align
       icons correctly.
       NOTE : Add to dependency otf-codenewroman-nerd
       */
  font-family: "CodeNewRoman Nerd Font Propo";
  /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
  padding: 0px;
  margin: 0px;
  border: none;
  box-shadow: none;
  outline: none;
}
@import "colors.css";

window#waybar {
  all: unset;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* --- Module island settings --- */
.modules-left,
.modules-right,
.modules-center {
  padding: 7px;
  margin: 0 15px;
  border-radius: 10px;
  background: alpha(@background, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-left,
.modules-right {
  color: @on_surface;
}

/* --- Tooltip settings --- */
/* Clear default GTK styling. */
tooltip * {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: inherit;
  background-color: transparent;
}
tooltip {
  color: @on_surface;
  background: alpha(@background, 0.4);
  /* border: 2px solid @primary; */
  border-radius: 10px;
}

tooltip label {
  color: @on_surface;
  padding: 5px;
}

/* --- Separator --- */
#custom-separator {
  padding: 0 10px 0 15px;
  color: alpha(@on_surface, 0.7);
}

/* --- Modules --- */
#bluetooth,
#pulseaudio,
#network,
#custom-weather,
#battery,
#power-profiles-daemon,
#custom-notification,
#clock,
#custom-pacman,
#custom-media {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @on_surface;
}

/* when hoverd */
#clock:hover,
#custom-notification:hover,
#custom-updates:hover,
#tray:hover,
#window:hover,
#mpris:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#language:hover,
#idle_inhibitor:hover,
#network:hover,
#bluetooth:hover,
#custom-wlogout:hover,
#custom-pacman:hover,
#custom-expand:hover,
#custom-settings:hover {
  transition: all 0.3s ease;
  color: @primary_fixed_dim;
}

/* Customize each module */
#clock {
  font-weight: bold;
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#custom-pacman {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#custom-notification {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#custom-wlogout {
  color: @error;
  margin: 0 5px;
}

/* Workspaces */
/* --- Workspace settings --- */
#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: alpha(@on_primary, 0.4);
  transition: all 0.2s ease;
}

#workspaces button:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  transition: all 1s ease;
}

#workspaces button.active {
  color: @on_surface;
  border: none;
}

#workspaces button.empty {
  color: rgba(0, 0, 0, 0);
  border: none;
}

#workspaces button.empty:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  transition: all 1s ease;
}

#workspaces button.empty.active {
  color: @on_surface;
  border: none;
}

/* --- Battery --- */
#battery.charging {
  color: @tertiary;
}

#battery.warning:not(.charging) {
  color: @error;
}

#battery.critical:not(.charging) {
  color: @error_container;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#group-expand,
#group-settings {
  padding: 0px 5px;
  transition: all 0.3s ease;
}
#custom-expand,
#custom-settings {
  padding: 0px 5px;
  color: alpha(@on_surface, 0.9);
  transition: all 0.3s ease;
}

#custom-colorpicker {
  padding: 0px 5px;
}
/* --- Stats --- */
#cpu,
#memory,
#temperature {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @on_surface;
}

/* --- Tray --- */
#tray {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#tray menu * {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#mpris {
  font-size: 12px;
  font-weight: normal;
}
